* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #add8e6;
    padding-top: 1em;
}

nav {
    width: 65%;
    margin: auto;
    padding: 1em;
    background-color: #daa520;
    display: flex;
    justify-content: space-between;
    border: 1px dashed black;
}

.pinkBox {
    background-color: #ee82ee;
    max-width: 945px;
    min-height: 415px;
    margin: auto;
    border: 1px dashed black;
}

.blueBox {
    background-color: #00008b;
    margin-top: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}














